@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.alert {
    text-align   : center;
    padding      : .25em;
    max-width    : 90%;
    margin       : .5em auto;
    border-radius: 5px;
}

.alert-success {
    background-color: rgba(88, 255, 174, 0.886);
    animation       : fadeOff 800ms ease-in-out 2000ms 1 forwards;
}

input:invalid {
    border: 1px solid red;
}

input:invalid:focus {
    border: 3px solid red;
}

.flor-gobierno {
    background-image : url('/img/flor_gobierno.svg');
    background-repeat: space;
    background-size  : 60%;
    background-position: center;
}

@keyframes fadeOff {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}